$color-white: #fff;
$color-black: #000;
$color-purple: #48061e;
$color-blue: #0000ff;
$color-grey: #ccc;
$color-red: #ff0000;
$color-lightGrey: #e5e5e5;
$color-darkGrey: #363636;
$color-green: #009f28;
