@import '../../../Sass/main.scss';

.Button{
background: transparent;

    cursor: pointer;
    font: inherit;
    padding: 1rem;  
    font-weight: bold;
    color: $color-white;
    margin: 0 auto;

     transition: all .3s ease-in-out;
    
    &:hover{
opacity: .8;


    }
}

.Disabled{
width: 100%;
    cursor: not-allowed;
     padding: 1rem; 
    background-color: $color-grey;
    color: $color-white;
   
    }

button{
outline: none;
border: none;
}

.Rounded{
    border-radius: .5rem;
}

.Block{
    width: 100%;
}

.green{

 color: $color-white;
 background-color: $color-green;

    &:hover{
background-color: $color-white;
 color: $color-green;
@include boxShadow(.1rem, .2rem, $color-grey);
    }
}

.grey{

 color: $color-white;
 background-color: $color-darkGrey;

    &:hover{
opacity: .8;
 
@include boxShadow(.1rem, .2rem, $color-grey);
    }
}

.blue-outline{

 color: $color-blue;


    &:hover{
background-color: $color-blue;
@include boxShadow(.1rem, .2rem, $color-grey);
  color: $color-white;
    }
}

.blue{

 color: $color-white;
 background-color: $color-blue;

    &:hover{
background-color: $color-white;
 color: $color-blue;
@include boxShadow(.1rem, .2rem, $color-grey);
    }
}

.grey-outline{

 color: $color-darkGrey;

    &:hover{
background-color: $color-darkGrey;
@include boxShadow(.1rem, .2rem, $color-grey);
  color: $color-white;
    }
}

.green-outline{

 color: $color-green;

    &:hover{
background-color: $color-green;
@include boxShadow(.1rem, .2rem, $color-grey);
 color: $color-white;
    }
}

.margin{
margin: 1rem;
}
.margin-bottom{
margin-bottom: 1rem;
}
.margin-top{
margin-top: 1rem;
}