@import '../../../../Sass/main.scss';

.Input{

@include formBox;
}

input{
 @include formElement; 
}

.Rounded{
border-radius: 1rem;
}

.BoxShadow{
 @include boxShadow(.2rem, .5rem, $color-grey);
}
.Label{
    text-align: start;
    display: flex;
    color: $color-darkGrey
   
}

.Invalid{
    @include invalidInput;
}
