@import '../../Sass/main.scss';



.Auth{
width: 50%;
margin: 0 auto;
@include boxShadow(.3rem, .5rem, $color-grey);
}
@media(max-width: 768px){
    .Auth{
width: 100%;
}
}
.ButtonDiv{

display: flex;
justify-content: space-around;
margin-top: 2rem;
}
.AuthType{
text-align: start;
padding-top: 2rem;

}
.AuthTypeButton{
    font-size: 2rem;
    cursor: pointer;
    color: $color-blue;
    font-weight: bold;
}

.Heading{
       padding: 1rem 0;
    //  @include boxShadow(.3rem, .5rem, $color-grey);
      margin: 0 auto;
        text-align: center;
        font-weight: bold;
        background-color: $color-white;
        
    }

    .ErrorMessage{
        text-align: center;

        color: $color-red;
        font-weight: bold;
    }