@import '../../Sass/main.scss';



.Auth{

}
.ButtonDiv{
display: block;

margin-top: 2rem;
}

.Heading{
       padding: 1rem 0;
     @include boxShadow(.3rem, .5rem, $color-grey);
      margin: 0 auto;
        text-align: center;
        font-weight: bold;
        background-color: $color-white;
        
    }

    .ErrorMessage{
        text-align: center;

     padding-top: 2rem;

        color: $color-red;
        font-weight: bold;
    }